img{
    width: 100%
}
#anyKeyToStart{
    text-align: center;

}

h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
   
}


#currentWord {
    letter-spacing: 10px;
}

#guessedLetters
{
    color: rgb(45, 125, 230)
}
#currentWord{
    color: rgb(235, 85, 26)
}
.jumbotron{
    background-image: url(saw2-3.png);
    
    background-position:center; 
  background-repeat: no-repeat;
  background-size: cover;

}